@import "tailwindcss";

@theme{
    --color-mainColor : #c9ab81;
    --color-secColor : #715b3e;
    --font-sans : "Open Sans", sans-serif;
}

@utility row{
    @apply flex flex-row items-center gap-5;
}

@utility test{
    @apply border-2 border-amber-200;
}

@utility nav-items{
    @apply uppercase cursor-pointer text-white font-sans text-[14px] font-thin hover:font-bold
}